.grid {
  position: absolute;
  display: block;
  color: #fff;
  background: #000;
  font-family: 'Roboto Mono';
  line-height: 2em;
  white-space: nowrap;
  zoom: 1;
}
.grid:after,
.grid:before {
  content: "";
  display: table;
}
.grid:after {
  clear: both;
}
.grid > .row {
  position: relative;
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  zoom: 1;
}
.grid > .row:after,
.grid > .row:before {
  content: "";
  display: table;
}
.grid > .row:after {
  clear: both;
}
.grid > .row:not(:first-child) {
  margin: -26px 0 0;
}
.grid > .row:nth-child(odd) {
  left: 16px;
}
.grid > .row > .cell {
  display: inline-block;
  min-width: 2em;
  min-height: 2em;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  white-space: pre;
}
.grid > .row > .cell > .layer {
  position: absolute;
  display: block;
  min-width: 2em;
  min-height: 2em;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  white-space: pre;
}
