.tile-corridor-center {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -32px 0px;
  width: 32px;
  height: 32px;
}
.tile-door-closed-se {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -160px -64px;
  width: 32px;
  height: 32px;
}
.tile-door-closed-sw {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: 0px -32px;
  width: 32px;
  height: 32px;
}
.tile-door-open-se {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.tile-door-open-sw {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -64px 0px;
  width: 32px;
  height: 32px;
}
.tile-mark {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.tile-room-center {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: 0px -64px;
  width: 32px;
  height: 32px;
}
.tile-wall-center {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.tile-wall-double-v-ew {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.tile-wall-double-v-ns {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -96px 0px;
  width: 32px;
  height: 32px;
}
.tile-wall-e {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -96px -32px;
  width: 32px;
  height: 32px;
}
.tile-wall-end-ne {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -96px -64px;
  width: 32px;
  height: 32px;
}
.tile-wall-end-nw {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: 0px -96px;
  width: 32px;
  height: 32px;
}
.tile-wall-end-se {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -32px -96px;
  width: 32px;
  height: 32px;
}
.tile-wall-end-sw {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -64px -96px;
  width: 32px;
  height: 32px;
}
.tile-wall-i-ne-sw {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -96px -96px;
  width: 32px;
  height: 32px;
}
.tile-wall-i-nw-se {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -128px 0px;
  width: 32px;
  height: 32px;
}
.tile-wall-iorthos-e {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -128px -32px;
  width: 32px;
  height: 32px;
}
.tile-wall-iorthos-n {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -128px -64px;
  width: 32px;
  height: 32px;
}
.tile-wall-iorthos-s {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -128px -96px;
  width: 32px;
  height: 32px;
}
.tile-wall-iorthos-w {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: 0px -128px;
  width: 32px;
  height: 32px;
}
.tile-wall-ip-e {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -32px -128px;
  width: 32px;
  height: 32px;
}
.tile-wall-ip-n {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -64px -128px;
  width: 32px;
  height: 32px;
}
.tile-wall-ip-s {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -96px -128px;
  width: 32px;
  height: 32px;
}
.tile-wall-ip-w {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -128px -128px;
  width: 32px;
  height: 32px;
}
.tile-wall-island {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -160px 0px;
  width: 32px;
  height: 32px;
}
.tile-wall-l-e {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -160px -32px;
  width: 32px;
  height: 32px;
}
.tile-wall-l-n {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.tile-wall-l-s {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -160px -96px;
  width: 32px;
  height: 32px;
}
.tile-wall-l-w {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -160px -128px;
  width: 32px;
  height: 32px;
}
.tile-wall-n {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: 0px -160px;
  width: 32px;
  height: 32px;
}
.tile-wall-ne {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -32px -160px;
  width: 32px;
  height: 32px;
}
.tile-wall-nw {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -64px -160px;
  width: 32px;
  height: 32px;
}
.tile-wall-p-e {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -96px -160px;
  width: 32px;
  height: 32px;
}
.tile-wall-p-n {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -128px -160px;
  width: 32px;
  height: 32px;
}
.tile-wall-p-s {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -160px -160px;
  width: 32px;
  height: 32px;
}
.tile-wall-p-w {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -192px 0px;
  width: 32px;
  height: 32px;
}
.tile-wall-s {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -192px -32px;
  width: 32px;
  height: 32px;
}
.tile-wall-se {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -192px -64px;
  width: 32px;
  height: 32px;
}
.tile-wall-super-t-ne {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -192px -96px;
  width: 32px;
  height: 32px;
}
.tile-wall-super-t-nw {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -192px -128px;
  width: 32px;
  height: 32px;
}
.tile-wall-super-t-se {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -192px -160px;
  width: 32px;
  height: 32px;
}
.tile-wall-super-t-sw {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: 0px -192px;
  width: 32px;
  height: 32px;
}
.tile-wall-sw {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -32px -192px;
  width: 32px;
  height: 32px;
}
.tile-wall-t-ne {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -64px -192px;
  width: 32px;
  height: 32px;
}
.tile-wall-t-nw {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -96px -192px;
  width: 32px;
  height: 32px;
}
.tile-wall-t-se {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -128px -192px;
  width: 32px;
  height: 32px;
}
.tile-wall-t-sw {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -160px -192px;
  width: 32px;
  height: 32px;
}
.tile-wall-w {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -192px -192px;
  width: 32px;
  height: 32px;
}
.tile-wall-x {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -224px 0px;
  width: 32px;
  height: 32px;
}
.tile-wall-y-e {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -224px -32px;
  width: 32px;
  height: 32px;
}
.tile-wall-y-n {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -224px -64px;
  width: 32px;
  height: 32px;
}
.tile-wall-y-s {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -224px -96px;
  width: 32px;
  height: 32px;
}
.tile-wall-y-w {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -224px -128px;
  width: 32px;
  height: 32px;
}
.tile-wall_i_sw {
  display: block;
  background-image: url(../images/tileset.png);
  background-position: -224px -160px;
  width: 32px;
  height: 32px;
}
